<h2 class= "center-align">Students Listing</h2>
<%= paginate @students %>
<div class="row">
    <% @students.each do |student| %>
        <div class="col s6 m6">
            <%= render partial: "student", locals:{ student: student, show_page: false} %>
        </div>
    <% end %>
</div>
<%= paginate @students %>
