<footer class="page-footer teal darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Tech University</h5>
                <p class="grey-text text-lighten-4">A house for future developers</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
           <u> <%= link_to "© 2023 Joaquin Berrios", "https://joaquinb2000.github.io/Portfolio-site/", class: "white-text", target: "blank"%></u>
        </div>
    </div>
</footer>
